body{
    --main-green-dark: #283618;
    --main-green-light: #425330;
    --main-light: #FEFAE0;
    background-color: var(--main-green-dark);
    color: var(--main-light);
    font-family: 'Cascadia Code', sans-serif;
    margin: 0;
}

.scroll-container{
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-behavior: auto;
    overflow: auto;
    scroll-snap-type: y mandatory;
}

header{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
}

.header_container{
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.header-items{
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.menu-btn{
    width: 13vw;
    height: 4.5vw;
    border: 0;
    background-color: var(--main-light);
    border-radius: 2vw;
    font-size: 2vw;
    z-index: 20;
    animation: 5s ease-out 0s 1 fromBlindLogo;
    color: var(--main-green-dark)
}

.header-logo{
    width: 100%;
    margin-bottom: 2vh;
    transform: translateY(-5vh);
    z-index: 20;
    animation: 4s ease-out 0s 1 fromBlindLogo;
}

.transparent-background{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    background-color: #283618b1;
    animation: 2s ease-out 0s 1 fromBlind;
}

.header-photo{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 5;
    object-fit: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
}

/* .about-us{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-light);
    scroll-snap-align: start;
    background-image:
    linear-gradient(180deg, rgba(0,19,242,1) 0%, rgba(40,54,24,0.7973783263305322) 0%, rgba(255,255,255,0) 100%),
    url('../../img/carouselPhotos/cphotoNR.png');
    background-size: cover;
} */

.screen{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--main-light);
    scroll-snap-align: start;
}

.logo-beans{
    position: absolute;
    top: 17vh;
    right: 10vw;
    width: 15vw;
    height: 50vh;
    opacity: 0.5;
    z-index: 10;
}

hr {
    line-height: 0.7vh;
    position: relative;
    outline: 0;
    border: 0;
    margin: 0;
    color: var(--main-green-dark);
    height: 1.2vw;
    opacity: 1;
    transform: translateY(8vh);
}
hr:before {
    content: '';
    background-color: var(--main-green-dark);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 0.7vh;
    opacity: 1;
}
hr:after {
    font-family: 'Source Code Pro', monospace;
    font-size: 5vw;
    width: 20vw;
    height: 5vh;
    text-align: center;
    content: attr(data-content);
    position: relative;
    opacity: 1;
    transform: translate(15vw, 1vh);
    display: inline-block;
    color: var(--main-green-dark);
    background-color: var(--main-light);
}

.screen .containerScreen{
    position: relative;
    display: flex;
    transform: translateY(8vh);
    margin-top: 15vh;
    justify-content: space-around;
    z-index: 20;
}
.about_us{
    width: 40%;
    height: 70vh;
    color: var(--main-green-dark)
}

.carousel{
    width: 40%;
    min-height: 40%;
    z-index: 20;
}

.carousel img{
    width: 100%;
    object-fit: contain;
}

h2{
    font-size: 5vw;
    margin-left: 7%;
    padding-top: 4%;
    font-family: 'Source Code Pro', monospace;
    font-size: 5vw;

}



.switcherCont{
    width: 100%;
}



@keyframes fromBlind{
    0%{
        background-color: #283618;
    }
    100%{
        background-color: #283618b1;
    }
}

@keyframes fromBlindLogo{
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}



@media only screen and (max-width: 1400px) {
    .screen .containerScreen{
        flex-direction: column;
        justify-content: center;
    }

    .header-items{
        width: 40%;
    }

    hr{
        text-align: center;
    }

    hr::after{
        transform: translateY(0vh);
    }

    .screen .containerScreen{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5vh;
    }

    .carousel{
        width: 50%;
    }

    .about_us{
        width: 70%;
        height: auto;
        margin-bottom: 5vh;
    }

    .switcherCont{
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }



}